body>main {
    margin-top: 100px;
    z-index: 50;
    position: absolute;
    width: 100%;
    height: calc(100% - 100px);
    /*background-color: rgba(15, 15, 30,0.5);*/
}

body>main>div {
    position: relative;
    display: flex;
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
    /*background-color: rgba(15, 15, 30, 0.75);*/
}

.content-base {
    width: 100px;
    height: 10px;

}

.content-base>h1 {
    border-radius: 5px;
    padding: 20px;
    color: rgb(200, 200, 250);
    background-color: rgba(15, 15, 30, .75);
}

.content-main, .content-main>div {
    display: flex;
    width: 100%;
    height: auto;
    align-items: center;
    align-content: flex-start;
    justify-content: space-evenly;
    overflow-x: hidden;
    flex-direction: row;
    flex-wrap: wrap;
}

.content {
    border-radius: 5px;
    position: relative;
    margin: 5px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 200px;
    height: 300px;
    background-color: rgba(15, 15, 30, 0.75);
    padding: 10px 0;
    cursor: pointer;
    transition: 0.3s ease-in;
}



.content:hover {
    background-color: rgba(15, 15, 30, 0.5);
}

.content>h1 {
    font-size: 16px;
    color: rgb(200, 200, 250);
    font-weight: bold;
    font-style: normal;
    text-align: left;
    margin-left: 10px;
    width: 166px;
    height: auto;
    text-decoration: none;
    text-transform: capitalize;

}

.content>h1:hover {
    text-decoration: underline;
}

.content>div {
    position: relative;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 166px;
    height: 250px;
    overflow: hidden;
    border-radius: 5px;
    transition: 0.3s ease-in;
}


.content>div>img {
    width: 166px;
    height: 250px;
    transition: all 0.5s ease-in-out;
}

.content>div>img:hover {
    transform: scale(1.25);
    filter: blur(3px);
    filter: grayscale(1);
    filter: saturate(2.2);
}