body>header {
    top: 0;
    z-index: 100;
    position: fixed;
    width: 100%;
    height: 75px;
    background-color: rgba(15, 15, 30, 0.75);
}

body>header>main {
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    /*background-color: rgba(15, 15, 30,0.5);*/

    display: flex;
    align-items: center;
    justify-content: space-between;
}

body>header>main>div {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 20px;
}

body>header>main>div>a {

    padding: 10px;
    margin: 0 10px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    color: rgb(200, 200, 250);
    transition: 0.5s ease-in-out;
    font-weight: bold;
    font-variant: normal;
    text-transform: capitalize;
}

body>header>main>div>#logo {
    font-size: 22px;
}

body>header>main>div>a:hover {
    transform: translateX(5px);
    text-decoration: underline;
    color: rgb(50, 50, 65);
    background-color: rgb(200, 200, 250)
}